<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>band</key>
		<string>Nikkon</string>
		<key>fullimage</key>
		<array>
			<dict>
				<key>type</key>
				<string>D700</string>
			</dict>
			<dict>
				<key>type</key>
				<string>D600</string>
			</dict>
		</array>
		<key>apsc</key>
		<array>
			<dict>
				<key>type</key>
				<string>D7000</string>
			</dict>
			<dict>
				<key>type</key>
				<string>D90</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>band</key>
		<string>Cannon</string>
		<key>fullimage</key>
		<array>
			<dict>
				<key>type</key>
				<string>5DMarkII</string>
			</dict>
			<dict>
				<key>type</key>
				<string>5DMarkIII</string>
			</dict>
		</array>
		<key>apsc</key>
		<array>
			<dict>
				<key>type</key>
				<string>550D</string>
			</dict>
			<dict>
				<key>type</key>
				<string>600D</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>band</key>
		<string>Pentax</string>
		<key>fullimage</key>
		<array>
			<dict>
				<key>type</key>
				<string>None</string>
			</dict>
			<dict>
				<key>type</key>
				<string>None</string>
			</dict>
		</array>
		<key>apsc</key>
		<array>
			<dict>
				<key>type</key>
				<string>K5</string>
			</dict>
			<dict>
				<key>type</key>
				<string>K5II</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
